
.posts {
    display: flex;
     flex:1;


   @media screen and (max-width: 768px) {
      flex-direction: column;
   }
   
    
 
}




.active-article {
   flex: 1; // occupy larger space/ remaining space in the flex-parent
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
  
   @media screen and (max-width: 768px) {
      
   }
}