@use '../abstract/colors';
#contact-section {
  min-height: 100vh;

   border: 3px dashed black;
   background-color: colors.$contact-bg;
   border-radius: 16px;
   margin-top: 16px;
   display: flex;
   justify-content: center;

   @media screen and (max-width: 768px) {
      flex-direction: column;
   }
 
   
}

.contact-information {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  margin: 2rem;
  visibility: hidden;
  color: white;
  
  
}

#contact-section:hover {
 

}

.contact-list {
  display: flex;
  flex-direction: column;
 justify-content: center;

  
}
.contact-list li {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 1.7em;
  
}

.contact-list li a {
 
  color: colors.$contact-bg;
}
figure  {
  visibility: hidden;
}

figcaption a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
figcaption {
  display: flex;
  flex-direction: column;
}

#alien, #jester {
  margin-top: 16px;
  width: 300px;

  @media screen and (max-width: 768px) {
    width: 150px;
  }
}

.icons-container {
  display: flex;
  flex-direction: column;

}

