@use '../abstract/colors';
#contact-section {
    min-height: 100vh;
   visibility: hidden;
   border: 3px dashed colors.$contact-bg;
   background-color: colors.$contact-bg;
   border-radius: 16px;
   margin-top: 16px;
   display: flex;
   justify-content: center;
   
}

.contact-information {
  border: 3px solid white;
  border-radius: 16px;
  width: 70%;

  margin: 2rem;
}

#contact-section:hover {
 

}