@use '../abstract/colors';


.header-main-nav {
   min-height: 100vh;   
   display: flex;
   justify-content: center;
   align-items: center;
 
   
   @media screen and (max-width: 800px) {
    
    }
}

.main-nav {
    width: 1000px;
    height: 600px;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas: 
    "about contact mydiv"
    "showcase showcase blog";

    @media screen and (max-width: 800px) {

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "mydiv"
        "about"
        "contact"
        "showcase"
        "blog"
        ;
        
        width: 75%;
        
    }
}




.links {
    border-width: 3px;
    border-style: dashed;
    border-radius: 16px;
    width: 100%;
}



#about {
  
  grid-area: about ;
  border-color:  colors.$about-bg;
  

}

.about {
    background-color: colors.$about-bg;
   
}


.about-mobile, .contact-mobile, 
.showcase-mobile, .blog-mobile {
    transform: translateX(-100%);
   
}




#contact {
    grid-area: contact;
    border-color:  colors.$contact-bg;
}

.contact {
    background-color:colors.$contact-bg ;
}


#showcase {
    grid-area: showcase;
    border-color:  colors.$showcase-bg;
}

.showcase {
    background-color: colors.$showcase-bg;
}

#blog {
    grid-area: blog;
    border-color:  colors.$blog-bg;
}

.blog {
    background-color: colors.$blog-bg;
}

#mydiv {
    grid-area: mydiv;
    
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 16px;
    color: black;

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }


}


//Desktop Sidebar & Mobile Sidebar

.mobile-sidebar {
    position: fixed;
    //border: 2px solid white;
    
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    display: none;


    @media screen and (max-width: 768px) {
        visibility: visible;
        display: flex;
    }
  
  
    
}

.desktop-sidebar  {
    position: fixed;
    //border: 2px solid white;
    right: 0px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 768px) {

        display: none;
    
    }
}


.menu-icon {
    width: 60px;
    height: 50px;
    background-color: red;
    border-radius: 16px;
    position: fixed;
    top: 0;
    visibility: hidden; // still affects the layout

    @media screen and (max-width: 768px) {
        
       visibility: visible;
    }
}

.mobile-sidebar-list li, .desktop-sidebar-list li {
    
    border: 2px dashed;
    border-radius: 16px;
    width: 100px;
    height: 100px;

    @media screen and (max-width: 720px) {
       width: 75px;
       height: 50px;
        
    }
    
}

.mobile-sidebar-list li a, .desktop-sidebar-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    border-radius: 16px;
    font-weight: bolder;
    @media screen and (max-width: 720px) {
       
        // font-size: 75%; // body based font-size will set to 62.5%
       
     }

   
}
.mobile-sidebar-list, .desktop-sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    
   
}



// Animation for both homepage and sidebars
.links a, .sidebar-list li a:hover {
    transition: color 0.4s linear, background-color 0.3s ease-out;
}
.links a:hover, .sidebar-list li a:hover  {
    background-color:black;
    color: white;
    
}

@keyframes links-animation {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animate {
    animation: links-animation 200ms forwards;
}

.about-mobile.animate { animation-delay: 0ms; }      /* No delay for the first item */
.contact-mobile.animate { animation-delay: 100ms; }         /* 100ms delay for the second item */
.showcase-mobile.animate { animation-delay: 150ms; }        /* 200ms delay for the third item */
.blog-mobile.animate { animation-delay: 200ms; } 

#k-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 16px;
    border: 3px dashed blue;
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }
}


.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}